[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "==3.15.2"
drf-spectacular = "==0.28.0"
djangorestframework-simplejwt = "==5.3.1"
django-filter = "==24.3"
google-genai = "*" 
pydantic = "==2.8.0"
django = "*"
psycopg2-binary = "*"
python-dotenv = "*"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"
django-cors-headers = "*"

[dev-packages]
pytest = "==8.3.4"
pytest-django = "==4.9.0"
pytest-cov = "*"
ruff = "*"

[requires]
python_version = "3.11"
