/* Adicionamos as animações e fontes do projeto antigo */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:wght@400;600;700&display=swap');

/*@tailwind base;
@tailwind components;
@tailwind utilities;*/

body {
  background-color: lime !important; /* Verde limão bem chamativo */
  color: red !important;
}
